/*
PROJECT: Web Apps Kick Ass
Author: Drew Dahlman
*/

*{
	margin:0px;
}
body {
	height:100%;
	width:100%;
	font-size:12px;
	font-family:Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color:#eaeaea;
	overflow:hidden;
	background-image:url(../images/background.jpg);
}
#wrapper {
	height:100%;
	width:100%;
}

/* HEADER */
#header {
	height:50px;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.50, #778caa),
	color-stop(0.50, #94a4b9)
	);
	box-shadow:0px 0px 2px #222;
	border-top:1px solid #d2d9e1;
}
#backBTN {
	padding:8px;
	color:#fff;
	border-radius:5px;
	position:absolute;
	margin-top:10px;
	margin-left:10px;
	font-weight:bold;
	font-size:12px;
	box-shadow:0px 1px 1px #222 inset;
	display:none;
	border-bottom:1px solid #ccc;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.50, #486b9b),
	color-stop(0.50, #7690b3)
	);
}
.textShadow {
	text-shadow:0px -1px 1px #4c5869;
}

#title {
	postition:relative;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	text-shadow:0px -1px 1px #222;
	color:#fff;
	margin-top:14px;
}

#pages {
	width:100%;
	position:relative;
    -webkit-transform: translateZ(0);
}

/* PAGE */
.page {
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	z-index:1;
	margin-top:50px;
}
.content {
	width:90%;
	margin:auto;
	position:relative;
	padding-top:25px;
}
.button {
	padding:10px;
	background-color:#fff;
	font-size:17px;
	color:#222;
	font-weight:bold;
	border-bottom:1px solid #ababab;
	position:relative;
	border-radius:10px;
}
.group {
	border-radius:10px;
	background-color:#fff;
	overflow:hidden;
	margin-bottom:10px;
	border:1px solid #ababab;
}
.button:last-child {
	border:none;
}

/* ANIMATIONS */
.pageIn {
	-webkit-animation: pageIn;
	-webkit-animation-duration:.4s;
 	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode: forwards;
}
.pageOut{
	-webkit-animation: pageOut;
	-webkit-animation-duration:.4s;
 	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode: forwards;
}
.pageBack {
	-webkit-animation: pageBack;
	-webkit-animation-duration:.4s;
 	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode: forwards;
}
.pageClose {
	-webkit-animation: pageClose;
	-webkit-animation-duration:.4s;
 	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes pageIn {
   0% {
      left: 100%;
   }
   100% {
      left: 0px;
   }
}
@-webkit-keyframes pageOut {
   0% {
      left: 0px;
   }
   100% {
      left: -100%;
   }
}
@-webkit-keyframes pageBack {
   0% {
      left: -100%;
   }
   100% {
      left: 0px;
   }
}
@-webkit-keyframes pageClose {
   0% {
      left: 0px;
   }
   100% {
      left: 100%;
   }
}